In [1]:
# Dependencies

import pandas as pd
import numpy as np
import glob
import os
import timeit                                # To check performance
from datetime import datetime as dt

# Instructions: 

1. Make sure to organize the CSV files into one folder, with the path variable set correctly in the next field.
2. Then just let it run!

In [2]:
# Concatenate csv files

tic = timeit.default_timer()                            # Monitor performance

path = '/Volumes/GoogleDrive/My Drive/Humanate/Tec Bootcamp/Tableau_Citibike/2_clean_datasets_by_year'
all_files = glob.glob(path + "/*.csv")

csv_file_list = []

for filename in all_files:
    try:
        df = pd.read_csv(filename, index_col=None, header=0)
        csv_file_list.append(df)
#         print (f'File {i} added')
    except:
        print(f'Concatenate error {filename}, could not be added')
        pass

citibike_rides_df = pd.concat(csv_file_list, axis=0, ignore_index=True)

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to extract and concatenate excel files: {round(toc - tic, 2)}')

citibike_rides_df

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (3,7,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Time (in seconds) to extract and concatenate excel files: 577.33

,Duration (Sec),Start Time & Date,End Time & Date,Start Station ID,Start Station Name,Start Lat,Start Lon,End Station ID,End Station Name,End Lat,End Lon,Bike ID,User Type,Birth Year,Gender,Age
0,695.0,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434,9 Ave & W 18 St,40.743174,-74.003664,19678.0,Subscriber,1983.0,Male,30.0
1,693.0,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434,9 Ave & W 18 St,40.743174,-74.003664,16649.0,Subscriber,1984.0,Male,29.0
2,2059.0,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406,Hicks St & Montague St,40.695128,-73.995951,19599.0,Customer,NaN,Unknown,NaN
3,123.0,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262,Washington Park,40.691782,-73.973730,16352.0,Subscriber,1960.0,Male,53.0
4,1521.0,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310,State St & Smith St,40.689269,-73.989129,15567.0,Subscriber,1983.0,Male,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122697047,769.0,2021-06-30 13:13:05,2021-06-30 13:25:54,7712.04,Alexander Ave & E 134 St,40.807466,-73.927107,7756.1,St. Nicholas Ave & W 126 St,40.811432,-73.951878,NaN,Customer,NaN,NaN,NaN
122697048,310.0,2021-06-23 22:51:46,2021-06-23 22:56:56,6450.05,8 Ave & W 31 St,40.750585,-73.994685,6224.05,W 20 St & 8 Ave,40.743453,-74.000040,NaN,Subscriber,NaN,NaN,NaN
122697049,874.0,2021-06-19 16:18:58,2021-06-19 16:33:32,4354.05,S Portland Ave & Hanson Pl,40.685396,-73.974315,3928.08,Eastern Pkwy & Washington Ave,40.671649,-73.963115,NaN,Customer,NaN,NaN,NaN
122697050,82.0,2021-06-23 11:29:37,2021-06-23 11:30:59,6450.05,8 Ave & W 31 St,40.750585,-73.994685,6450.12,8 Ave & W 33 St,40.751551,-73.993934,NaN,Subscriber,NaN,NaN,NaN
122697051,498.0,2021-06-19 00:54:21,2021-06-19 01:02:39,6450.05,8 Ave & W 31 St,40.750585,-73.994684,6224.05,W 20 St & 8 Ave,40.743453,-74.000040,NaN,Subscriber,NaN,NaN,NaN

In [3]:
for column in citibike_rides_df.columns:
    print(f'{column}, type: {type(citibike_rides_df.loc[0, column])}')

Duration (Sec), type: <class 'numpy.float64'>
Start Time & Date, type: <class 'str'>
End Time & Date, type: <class 'str'>
Start Station ID, type: <class 'int'>
Start Station Name, type: <class 'str'>
Start Lat, type: <class 'numpy.float64'>
Start Lon, type: <class 'numpy.float64'>
End Station ID, type: <class 'float'>
End Station Name, type: <class 'str'>
End Lat, type: <class 'numpy.float64'>
End Lon, type: <class 'numpy.float64'>
Bike ID, type: <class 'numpy.float64'>
User Type, type: <class 'str'>
Birth Year, type: <class 'numpy.float64'>
Gender, type: <class 'str'>
Age, type: <class 'numpy.float64'>

In [4]:
# Export to clean CSV file

tic = timeit.default_timer()                            # Monitor performance

citibike_rides_df.to_csv("../2_clean_datasets_by_year/rides_2013-2021.csv", index=False)

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to export CSV file: {round(toc - tic, 2)}')

citibike_rides_df.head()

Time (in seconds) to export CSV file: 1812.27

,Duration (Sec),Start Time & Date,End Time & Date,Start Station ID,Start Station Name,Start Lat,Start Lon,End Station ID,End Station Name,End Lat,End Lon,Bike ID,User Type,Birth Year,Gender,Age
0,695.0,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434,9 Ave & W 18 St,40.743174,-74.003664,19678.0,Subscriber,1983.0,Male,30.0
1,693.0,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434,9 Ave & W 18 St,40.743174,-74.003664,16649.0,Subscriber,1984.0,Male,29.0
2,2059.0,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406,Hicks St & Montague St,40.695128,-73.995951,19599.0,Customer,NaN,Unknown,NaN
3,123.0,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262,Washington Park,40.691782,-73.973730,16352.0,Subscriber,1960.0,Male,53.0
4,1521.0,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310,State St & Smith St,40.689269,-73.989129,15567.0,Subscriber,1983.0,Male,30.0

In [6]:
citibike_rides_df.describe()

,Duration (Sec),Start Lat,Start Lon,End Lat,End Lon,Bike ID,Birth Year,Age
count,1.226971e+08,1.226971e+08,1.226971e+08,1.226574e+08,1.226574e+08,1.125466e+08,1.063171e+08,1.063171e+08
mean,1.032445e+03,4.073767e+01,-7.398317e+01,4.073731e+01,-7.398329e+01,2.606722e+04,1.978919e+03,3.856393e+01
std,1.294786e+04,3.900745e-02,4.932839e-02,5.541319e-02,8.699336e-02,8.616442e+03,1.203919e+01,1.192542e+01
min,-6.005340e+05,0.000000e+00,-7.403423e+01,0.000000e+00,-7.408585e+01,1.452900e+04,1.857000e+03,1.600000e+01
25%,3.800000e+02,4.071882e+01,-7.399645e+01,4.071871e+01,-7.399683e+01,1.861300e+04,1.969000e+03,2.900000e+01
50%,6.450000e+02,4.073818e+01,-7.398683e+01,4.073726e+01,-7.398700e+01,2.512400e+04,1.981000e+03,3.600000e+01
75%,1.127000e+03,4.075641e+01,-7.397402e+01,4.075601e+01,-7.397422e+01,3.209100e+04,1.989000e+03,4.800000e+01
max,1.951005e+07,4.550636e+01,0.000000e+00,4.550636e+01,0.000000e+00,5.012400e+04,2.005000e+03,1.620000e+02