In [1]:
# Dependencies

import pandas as pd
import numpy as np
import glob
import os
import timeit                                # To check performance

In [2]:
# import clean CSV file to master CSV file

tic = timeit.default_timer()                            # Monitor performance

citibike_rides_df = pd.read_csv("../2_clean_datasets_by_year/rides_2013-2021.csv", index_col=None, header=0)

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to export unified CSV file: {round(toc - tic, 2)}')

citibike_rides_df

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (3,7,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Time (in seconds) to export unified CSV file: 2438.47

,Duration (Sec),Start Time & Date,End Time & Date,Start Station ID,Start Station Name,Start Lat,Start Lon,End Station ID,End Station Name,End Lat,End Lon,Bike ID,User Type,Birth Year,Gender,Age
0,695.0,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434,9 Ave & W 18 St,40.743174,-74.003664,19678.0,Subscriber,1983.0,Male,30.0
1,693.0,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434,9 Ave & W 18 St,40.743174,-74.003664,16649.0,Subscriber,1984.0,Male,29.0
2,2059.0,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406,Hicks St & Montague St,40.695128,-73.995951,19599.0,Customer,NaN,Unknown,NaN
3,123.0,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262,Washington Park,40.691782,-73.973730,16352.0,Subscriber,1960.0,Male,53.0
4,1521.0,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310,State St & Smith St,40.689269,-73.989129,15567.0,Subscriber,1983.0,Male,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122697047,769.0,2021-06-30 13:13:05,2021-06-30 13:25:54,7712.04,Alexander Ave & E 134 St,40.807466,-73.927107,7756.1,St. Nicholas Ave & W 126 St,40.811432,-73.951878,NaN,Customer,NaN,NaN,NaN
122697048,310.0,2021-06-23 22:51:46,2021-06-23 22:56:56,6450.05,8 Ave & W 31 St,40.750585,-73.994685,6224.05,W 20 St & 8 Ave,40.743453,-74.000040,NaN,Subscriber,NaN,NaN,NaN
122697049,874.0,2021-06-19 16:18:58,2021-06-19 16:33:32,4354.05,S Portland Ave & Hanson Pl,40.685396,-73.974315,3928.08,Eastern Pkwy & Washington Ave,40.671649,-73.963115,NaN,Customer,NaN,NaN,NaN
122697050,82.0,2021-06-23 11:29:37,2021-06-23 11:30:59,6450.05,8 Ave & W 31 St,40.750585,-73.994685,6450.12,8 Ave & W 33 St,40.751551,-73.993934,NaN,Subscriber,NaN,NaN,NaN
122697051,498.0,2021-06-19 00:54:21,2021-06-19 01:02:39,6450.05,8 Ave & W 31 St,40.750585,-73.994684,6224.05,W 20 St & 8 Ave,40.743453,-74.000040,NaN,Subscriber,NaN,NaN,NaN

# Create manageable data sets

- oneInHundred (1% the size of the original database. Takes every hundredth row)
- oneInThousand (.1% the size of the original database. Takes every hundredth row)

In [3]:
oneInHundred = []
lngth = len(citibike_rides_df)
for i in range(lngth):
    if i%100==0: oneInHundred.append(i)

citibike_rides_df_oneInHundred = citibike_rides_df.iloc[oneInHundred, :].copy()

citibike_rides_df_oneInHundred

,Duration (Sec),Start Time & Date,End Time & Date,Start Station ID,Start Station Name,Start Lat,Start Lon,End Station ID,End Station Name,End Lat,End Lon,Bike ID,User Type,Birth Year,Gender,Age
0,695.0,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434,9 Ave & W 18 St,40.743174,-74.003664,19678.0,Subscriber,1983.0,Male,30.0
100,547.0,2013-06-01 00:38:58,2013-06-01 00:48:05,441,E 52 St & 2 Ave,40.756014,-73.967416,383,Greenwich Ave & Charles St,40.735238,-74.000271,17183.0,Subscriber,1967.0,Male,46.0
200,2436.0,2013-06-01 01:28:02,2013-06-01 02:08:38,323,Lawrence St & Willoughby St,40.692362,-73.986317,420,Clermont Ave & Lafayette Ave,40.687645,-73.969689,14776.0,Subscriber,1982.0,Male,31.0
300,451.0,2013-06-01 02:39:30,2013-06-01 02:47:01,280,E 10 St & 5 Ave,40.733320,-73.995101,237,E 11 St & 2 Ave,40.730473,-73.986724,20341.0,Subscriber,1961.0,Male,52.0
400,7510.0,2013-06-01 06:15:54,2013-06-01 08:21:04,233,Cadman Plaza W & Pierrepont St,40.694757,-73.990527,2006,Central Park S & 6 Ave,40.765909,-73.976342,19916.0,Customer,NaN,Unknown,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122696600,133.0,2021-06-28 16:22:22,2021-06-28 16:24:35,6569.07,W 36 St & 9 Ave,40.754623,-73.995168,6450.12,8 Ave & W 33 St,40.751551,-73.993934,NaN,Subscriber,NaN,NaN,NaN
122696700,230.0,2021-06-30 13:03:32,2021-06-30 13:07:22,6569.07,W 36 St & 9 Ave,40.754623,-73.995168,6450.12,8 Ave & W 33 St,40.751551,-73.993934,NaN,Subscriber,NaN,NaN,NaN
122696800,2690.0,2021-06-29 11:19:00,2021-06-29 12:03:50,5096.11,Pearl St & Peck Slip,40.708485,-74.002751,4781.03,Concord St & Bridge St,40.697666,-73.984764,NaN,Subscriber,NaN,NaN,NaN
122696900,2380.0,2021-06-16 18:30:21,2021-06-16 19:10:01,7059.08,West End Ave & W 60 St,40.772370,-73.990050,4781.03,Concord St & Bridge St,40.697666,-73.984764,NaN,Customer,NaN,NaN,NaN
122697000,1080.0,2021-06-04 08:03:33,2021-06-04 08:21:33,6115.09,W 15 St & 10 Ave,40.742753,-74.007473,4781.03,Concord St & Bridge St,40.697666,-73.984764,NaN,Subscriber,NaN,NaN,NaN

In [5]:
# Export clean CSV file to master CSV file

tic = timeit.default_timer()                            # Monitor performance

citibike_rides_df_oneInHundred.to_csv("../2_clean_datasets_by_year/rides_2013-2021_oneInHundred.csv", index=False) 

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to export unified CSV file: {round(toc - tic, 2)}')

citibike_rides_df_oneInHundred.head()

Time (in seconds) to export unified CSV file: 21.62

,Duration (Sec),Start Time & Date,End Time & Date,Start Station ID,Start Station Name,Start Lat,Start Lon,End Station ID,End Station Name,End Lat,End Lon,Bike ID,User Type,Birth Year,Gender,Age
0,695.0,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434,9 Ave & W 18 St,40.743174,-74.003664,19678.0,Subscriber,1983.0,Male,30.0
100,547.0,2013-06-01 00:38:58,2013-06-01 00:48:05,441,E 52 St & 2 Ave,40.756014,-73.967416,383,Greenwich Ave & Charles St,40.735238,-74.000271,17183.0,Subscriber,1967.0,Male,46.0
200,2436.0,2013-06-01 01:28:02,2013-06-01 02:08:38,323,Lawrence St & Willoughby St,40.692362,-73.986317,420,Clermont Ave & Lafayette Ave,40.687645,-73.969689,14776.0,Subscriber,1982.0,Male,31.0
300,451.0,2013-06-01 02:39:30,2013-06-01 02:47:01,280,E 10 St & 5 Ave,40.733320,-73.995101,237,E 11 St & 2 Ave,40.730473,-73.986724,20341.0,Subscriber,1961.0,Male,52.0
400,7510.0,2013-06-01 06:15:54,2013-06-01 08:21:04,233,Cadman Plaza W & Pierrepont St,40.694757,-73.990527,2006,Central Park S & 6 Ave,40.765909,-73.976342,19916.0,Customer,NaN,Unknown,NaN

In [9]:
oneInThousand = []
lngth = len(citibike_rides_df)
for i in range(lngth):
    if i%1000==0: oneInThousand.append(i)

citibike_rides_df_oneInThousand = citibike_rides_df.iloc[oneInThousand, :].copy()

citibike_rides_df_oneInThousand

,Duration (Sec),Start Time & Date,End Time & Date,Start Station ID,Start Station Name,Start Lat,Start Lon,End Station ID,End Station Name,End Lat,End Lon,Bike ID,User Type,Birth Year,Gender,Age
0,695.0,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434,9 Ave & W 18 St,40.743174,-74.003664,19678.0,Subscriber,1983.0,Male,30.0
1000,1854.0,2013-06-01 10:03:33,2013-06-01 10:34:27,217,Old Fulton St,40.702772,-73.993836,461,E 20 St & 2 Ave,40.735877,-73.982050,16988.0,Subscriber,1949.0,Female,64.0
2000,4310.0,2013-06-01 12:20:04,2013-06-01 13:31:54,304,Broadway & Battery Pl,40.704633,-74.013617,530,11 Ave & W 59 St,40.771522,-73.990541,16950.0,Customer,NaN,Unknown,NaN
3000,844.0,2013-06-01 13:55:28,2013-06-01 14:09:32,479,9 Ave & W 45 St,40.760193,-73.991255,442,W 27 St & 7 Ave,40.746647,-73.993915,17840.0,Subscriber,1969.0,Female,44.0
4000,215.0,2013-06-01 15:21:42,2013-06-01 15:25:17,294,Washington Square E,40.730494,-73.995721,403,E 2 St & 2 Ave,40.725029,-73.990697,16519.0,Subscriber,1983.0,Male,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122693000,877.0,2021-06-30 10:35:32,2021-06-30 10:50:09,6450.05,8 Ave & W 31 St,40.750585,-73.994685,5679.05,Mercer St & Bleecker St,40.727064,-73.996621,NaN,Customer,NaN,NaN,NaN
122694000,1312.0,2021-06-16 14:55:22,2021-06-16 15:17:14,5506.14,E 6 St & Avenue D,40.722280,-73.976687,6422.09,E 44 St & 2 Ave,40.751184,-73.971387,NaN,Subscriber,NaN,NaN,NaN
122695000,1522.0,2021-06-13 14:39:05,2021-06-13 15:04:27,5980.07,E 17 St & Broadway,40.737049,-73.990092,5445.02,Suffolk St & Stanton St,40.720664,-73.985180,NaN,Subscriber,NaN,NaN,NaN
122696000,1579.0,2021-06-14 19:02:21,2021-06-14 19:28:40,6569.07,W 36 St & 9 Ave,40.754623,-73.995167,7293.1,E 88 St & Park Ave,40.781411,-73.955959,NaN,Subscriber,NaN,NaN,NaN
122697000,1080.0,2021-06-04 08:03:33,2021-06-04 08:21:33,6115.09,W 15 St & 10 Ave,40.742753,-74.007473,4781.03,Concord St & Bridge St,40.697666,-73.984764,NaN,Subscriber,NaN,NaN,NaN

In [10]:
# Export clean CSV file to master CSV file

tic = timeit.default_timer()                            # Monitor performance

citibike_rides_df_oneInThousand.to_csv("../2_clean_datasets_by_year/rides_2013-2021_oneInThousand.csv", index=False) 

toc = timeit.default_timer()                            # Monitor performance
print(f'Time (in seconds) to export unified CSV file: {round(toc - tic, 2)}')

citibike_rides_df_oneInThousand.head()

Time (in seconds) to export unified CSV file: 1.93

,Duration (Sec),Start Time & Date,End Time & Date,Start Station ID,Start Station Name,Start Lat,Start Lon,End Station ID,End Station Name,End Lat,End Lon,Bike ID,User Type,Birth Year,Gender,Age
0,695.0,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434,9 Ave & W 18 St,40.743174,-74.003664,19678.0,Subscriber,1983.0,Male,30.0
1000,1854.0,2013-06-01 10:03:33,2013-06-01 10:34:27,217,Old Fulton St,40.702772,-73.993836,461,E 20 St & 2 Ave,40.735877,-73.982050,16988.0,Subscriber,1949.0,Female,64.0
2000,4310.0,2013-06-01 12:20:04,2013-06-01 13:31:54,304,Broadway & Battery Pl,40.704633,-74.013617,530,11 Ave & W 59 St,40.771522,-73.990541,16950.0,Customer,NaN,Unknown,NaN
3000,844.0,2013-06-01 13:55:28,2013-06-01 14:09:32,479,9 Ave & W 45 St,40.760193,-73.991255,442,W 27 St & 7 Ave,40.746647,-73.993915,17840.0,Subscriber,1969.0,Female,44.0
4000,215.0,2013-06-01 15:21:42,2013-06-01 15:25:17,294,Washington Square E,40.730494,-73.995721,403,E 2 St & 2 Ave,40.725029,-73.990697,16519.0,Subscriber,1983.0,Male,30.0